services:
  proxy:
    image: caddy:alpine
    ports:
      - '80:80'
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    extra_hosts:
      - 'host.docker.internal:host-gateway'

volumes:
  caddy_data:
  caddy_config:
