.p-navigation__item {
	max-width: none !important;
}

[class^='p-button'] {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: fit-content;
	word-break: keep-all;

	&.only-icon {
		padding: 0;
		width: 1.5rem;
		height: 1.5rem;
		margin: 0;
	}
}
