.p-navigation__item {
	max-width: none !important;
}

[class^='p-button'] {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	gap: 0.5rem !important;

	&.only-icon {
		padding: 0 !important;
		width: 1.5rem !important;
		height: 1.5rem !important;
		margin: 0 !important;
	}
}
